name: Build docker image to Amazon ERC

on:
  workflow_call:
    inputs:
      build_env:
        required: true
        type: string
    secrets:
      self_token:
        required: true
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true

env:
  AWS_REGION: ap-southeast-1

jobs:
  build-image:
    name: Build container
    runs-on: ubuntu-18.04
    environment: production

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - run: |
          VERSION=${{ github.sha }} bash ./scripts/buildx.sh ${{ inputs.build_env }}